In [1]:
# FEATURE SCALING
# it is a technique to fit features in a given range

In [2]:
# TYPES OF FEATURE SCALING = standardalization and normalization

In [3]:
# STANDARDLiZATION = z-score normalization

# upscaling and downscaling to fit in a range

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
df= pd.read_csv('Social_Network_Ads.csv')
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [13]:
df=df.iloc[:,2:]
df.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [20]:
# TRAIN TEST SPLIT

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df.drop('Purchased',axis=1),df['Purchased'],test_size=0.3,random_state=0)

In [25]:
from sklearn.preprocessing import StandardScaler
 
scalar= StandardScaler()
scalar.fit(x_train)

# transforming training and testing sets
x_train_scaled=scalar.transform(x_train)
x_test_scaled=scalar.transform(x_test)

In [26]:
scalar.mean_

array([3.78642857e+01, 6.98071429e+04])